---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile .ExampleFile }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}
## Import
In Terraform v1.5.0 and later, use an [`import` block](https://developer.hashicorp.com/terraform/language/import) providing `resource_id`.
{{ tffile "examples/resources/thousandeyes_page_load/import.tf" }}

Using `terraform import` command.
{{ codefile "shell" .ImportFile }}
{{- end }}
