---
page_title: "Provider: ThousandEyes"
description: |-
  Example ThousandEyes Provider Description.
---

# {{ .ProviderShortName }} Provider

First paragraph of the example ThousandEyes Provider Description.

Second paragraph of the example ThousandEyes Provider Description.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
