---
page_title: "Provider: ThousandEyes"
description: |-
---

# {{ .ProviderShortName }} Provider

The [ThousandEyes](https://www.thousandeyes.com/) provider is used to interact with the resources supported by ThousandEyes.

This provider version is only compatible with the [ThousandEyes API v7](https://developer.cisco.com/docs/thousandeyes/introduction/).

The same breaking changes are applied to the provider as they are to the API.

Use the left navigation bar to read about the available resources.

## Deprecation notice
Labels and Integrations resources were deprecated in ThousandEyes API v7 and are no longer supported in this provider version.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

Account group IDs can be retrieved from the API by querying the `/v7/account-groups` endpoint. For more information, check the
[Developer Reference](https://developer.cisco.com/docs/thousandeyes/list-account-groups/).

## Changelog

See https://github.com/thousandeyes/terraform-provider-thousandeyes/releases.
