---
page_title: "Provider: ThousandEyes"
description: |-
---

# {{ .ProviderShortName }} Provider

The [ThousandEyes](https://www.thousandeyes.com/) provider is used to interact with the resources supported by ThousandEyes.

Use the left navigation bar to read about the available resources.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
